body {
	background-color: #F3F7FD;
	font-family: Montserrat, sans-serif;
}

header {
	background-color: #F3F7FD !important;
}

.top-navbar .nav-item a:hover, 
.top-navbar .nav-item a:focus {
  background-color: transparent;
  color: #999999;
}

.top-header {
	background-color: #F3F7FD;
}

.top-navbar>ul, li {
	height: 40px;
}

.top-header>a{
	color: rgba(0, 0, 0, 0.5) !important;
}

.search_section h1, h2{
	color: #fafafa;
}


.skill-assessment-fonts {
	font-size: 14px !important;
	opacity: 0.5 !important;
}

/*font sizes*/
.font-14 {
	font-size: 14px !important;
}

.font-21 {
	font-size: 21px !important;
}

.rounded-0 {
	border-radius: 0px !important;
}


/*buttons*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border-radius: 0px !important;
}

.section-header {
	padding: 25px 0 !important;
}

.btn-primary.btn-outline {
    color: #fafafa;
}

.btn-success.btn-outline {
    color: #fafafa;
}

.btn-info.btn-outline {
    color: #fafafa;
}

.btn-warning.btn-outline {
    color: #fafafa;
}

.btn-danger.btn-outline {
    color: #fafafa;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.b {
	border: 1px solid #bdbdbd;
}


.b-b {
	border-bottom: 1px solid #bdbdbd;
}

.b-l {
	border-left: 1px solid #bdbdbd;
}

.b-r {
	border-right: 1px solid #bdbdbd;
}

.b-t {
	border-top: 1px solid #bdbdbd;
}


/*alignment*/

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}



/*height*/

.h-40 {
	height: 40px !important;
}

/*padding*/
.p {
	padding: 6px !important;
}

.p-h {
	padding: 0 6px !important;
}

.p-v {
	padding: 6px 0 !important;
}

.p-v-lg {
	padding: 12px 0 !important;
}

.p-xs {
	padding: 4px !important;
}

.p-sm {
	padding: 6px !important;
}

.p-md {
	padding: 8px !important;
}

.p-lg {
	padding: 12px !important;
}

.p-20 {
	padding: 20px !important;
}

.p-30 {
	padding: 30px !important;
}

.pt-4 {
	padding-top: 4rem !important;
}

.pt-13 {
	padding-top:13rem !important;
}

.pt-25px {
	padding-top: 25px !important;
}

.np-r {
	padding-right: 0px !important;
}

.m {
	margin: 6px !important;
}

.m-h {
	margin: 0px 6px !important;
}

.m-v {
	margin: 6px 0 !important;
}

.mt-15 {
	margin: 15px 0 !important;
}

.mt-o-40 {
	margin: 40px 0 0 0 !important;
}

.mt-3 {
	margin-top: 3em !important;
}

.mv-3 {
	margin: 3em 0 !important;
}

.m-xs {
	margin: 4px !important;
}

.m-sm {
	margin: 6px !important;
}

.m-md {
	margin: 8px !important;
}

.m-lg {
	margin: 12px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}


.full-length {
	width: 100% !important;
}

/*#why_rpl{
	background-color: #009688;
}*/
#why_rpl h3{
	color: #fafafa;
}


.section-header .section-title {
  color: #272727;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 2px;
  background: #65FE00;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border-radius: 20px;
  /*border: 2px solid #FFFFFF;*/
  /*background: #45aed6;*/
}



/*.btn-default {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 50px;
  text-shadow: 0 1px 0 #fff;
  font-family: 'Raleway', sans-serif;
}

.glyphicon {
    color: white;}
    .caption-text p {
  margin: 18px auto 13px;
  text-align: center;
  width: 91%;
}

.btn-default:focus, .btn-default:hover {
  background-color: #f57c00;
  background-position: 0 -15px;
}
	
.cuadro_intro_hover{
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
}
.cuadro_intro_hover:hover .caption{
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform:translateY(-150px);
	-moz-transform:translateY(-150px);
	-ms-transform:translateY(-150px);
	-o-transform:translateY(-150px);
}
.cuadro_intro_hover img{
	z-index: 4;
}
.cuadro_intro_hover .caption{
	position: absolute;
	top:150px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	width: 100%;
}
.cuadro_intro_hover .blur{
	background-color: rgba(0,0,0,0.7);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;
}
.cuadro_intro_hover .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top:-2px;
	width: 100%;
}

*/


#sign_up_newsletter {
	background-color: #DEDEDE;
}

#footer {
	background-color: #322D3E;
}

#footer_copyright {
	background-color: #1E1E25;
	color: #fafafa;
}

.btn-circle.btn-lg {
    border-radius: 45px;
    font-size: 18px;
    height: 90px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 90px;
}

.btn-circle {
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 30px;
}


#why_rpl {
   background:url("../../images/banner/Picture-3.png");
   background-size: cover;       /* For flexibility */
}

.float-contact-container {
	position: fixed; bottom: 5px; right: 5px; z-index: 110;
}

.float-contact-form {
	background: rgb(54, 25, 25); opacity: 0.6
}


/*@media screen and (min-width: 256px) and (max-width: 1024px) {
.free-skill-box{
	display: none;
}*/

@media screen and (min-width: 256px) and (max-width: 1024px) {
	.free-skill-box-icon, .fsa-content>h4, .fsa-content>p {display: none;}
}

@media screen and (min-width: 256px) and (max-width: 1024px) {
	.free-skill-box {
		background-color: none !important;
	}
}

@media screen and (min-width: 1300px){
	.free-skill-box {
		margin-top: 40px !important;
	}

	/*.banner-content>p {
		margin-top: 40px !important;
	}*/
}


.li-active {
    border-left: 2px solid #2e6da4;
    font-weight: bold;
}