<div class="col-md-12 col-xs-12 col-sm-12 no-padding mt-1" id="qualification_form">
    <form action="{% url 'qualification_search' %}" method="GET">
        <div class="my-search-form">
            <div class="col-md-12 col-xs-12 col-sm-12 no-padding mt-1">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <div class="input-group">
                            {{ search_form.query }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn secondary-green input-lg rounded-0" style="">SEARCH</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


