<div class="col-md-12 col-xs-12 col-sm-12 no-padding mt-1" id="qualification_form">
    <form action="{% url 'qualification_search' %}" method="GET">
        <div class="my-search-form">
            <div class="col-md-12 col-xs-12 col-sm-12 no-padding mt-1">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" placeholder="Search Qualifications" class="form-control input-lg rounded-0" id="search" name="query" value="{{ query_text }}">
                        <div class="input-group-addon addon-lg rounded-0 secondary-green">SEARCH</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


