{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/pages/qualification-page.css' %}">
{% endblock stylesheet %}

{% block nav_qualification %}active b-b{% endblock %}

{% block primary_container %}


<section class="search_section" id="search">

    <div style="height: 270px; background-image: url('{% static 'images/banner/rpl_banner.jpg' %}'); background-repeat: no-repeat; background-size: 100%;">
        <div class="container">
            <div class="row" style="margin: 100px 0;">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Search Qualifications" class="form-control input-lg rounded-0" id="search">
                            <div class="input-group-addon addon-lg rounded-0"><i class="fa fa-search"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'skill_asessment' %}" class="btn btn-primary rounded-0 btn-lg pull-right">
                        TAKE FREE SKILL ASSESSMENT TEST
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="qualification-container" style="margin-top: 40px;">
    <div class="container">
        <div class="col-md-3">
            <div class="list-group qualification_lists">
                {% for object in object_list %}
                    <a href="{% url 'qualification_course' object.slug %}" class="list-group-item" id="{{object.id}}">{{ object.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            {% block qualification_courses %}{% endblock qualification_courses %}
        </div>
    </div>
</section>

{% endblock primary_container %}