{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/pages/qualification-page.css' %}">
{% endblock stylesheet %}

{% block nav_qualification %}active b-b{% endblock %}

{% block primary_container %}


<section class="search_section" id="search">
    <img src="{% static 'images/banner/rpl_banner.jpg' %}" alt="" id="rpl" width="100%" class="img-fluid" height="50%">
    <div class="container">
        <div class="row">
            {# search box #}
            <div class="col-md-6 col-md-offset-2" style="position: absolute; z-index: 101; top: 180px; text-align: center;">
                
                {# search bar #}
                {% include 'landing_page/search.html' %}
                    
                {# free skill assessment #}
                <div class="col-md-12 col-xs-12 col-sm 12 no-padding b inline-block bg-white rounded-0 row mt-15">
                    <div class="col-md-3 p-30">
                        <img src="{% static 'images/icons/checklist.png' %}" alt="Free Skill Assessment">
                    </div>
                    <div class="col-md-9 p-30 text-white" style="background-color: #00C347; text-align: left;">
                        <h4 class="text-white no-margin">Lorem ipsum dolor sit amet</h4>
                        <p class="p-v-lg no-margin">A card is a flexible and extensible content container.</p>
                        <a href="{% url 'skill_asessment' %}" class="btn btn-primary btn-outline btn-lg">
                            FREE SKILL ASSESSMENT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="qualification-container" style="margin-top: 40px;">
    <div class="container">
        {% for object in object_list %}
            {% with object.qualification_set.all as qualifications %}
                {% if qualifications %}
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="title">
                                    {{ object.name }}
                                </h4>
                            </div>
                            <div class="panel-body">
                            {% for obj in qualifications %}
                                <p class="courses">
                                    <a href="{% url 'qualification_detail_page' obj.id %}" class="">{{ obj.name }}</a>
                                </p>
                            {% endfor %}
                            </div>
                            {% if qualifications.count > 5 %}
                                <div class="panel-footer">
                                    <a href="javascript:;" class="more_less" id="more_{{ object.id }}" data-type="more" data-value="{{ object.id }}">View all</a>
                                    <a href="javascript:;" class="more_less" id="less_{{ object.id }}" data-type="less" data-value="{{ object.id }}"></a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="">
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div m-v-lg>
</section>

{% endblock primary_container %}

{% block javascript %}
{{ block.super }}
    <script>

    $(document).ready(function(){
        applyMoreLessLink();
    })
    function applyMoreLessLink(){
        // initialize 5 elements to be shown
        var x = 5;
        // the total size of elements on the selector
        var sel_size = $(".courses").size();
        console.log(sel_size);
        // show only defined size of elements
        $(".courses:lt("+x+")").show();
        // if selected size is greater than defined size
        // append More on moreless link
        var less_el = $("#"+selector+" #less");
        var more_el = $("#"+selector+" #more");
        if(sel_size > x){
            $(less_el).html("");
            $(more_el).html("More");
        }
        // // find which element clicked under what category
        // var moreless = $("#"+selector+ " .more_less");
        // $(moreless).click(function(){
        //     // get data-source to determine if more or less
        //     var source = $(this).data('value');
        //     if (source == 'more'){
        //         $("#"+selector+" .mylists").show();
        //         $("#"+selector+" #more").html("");
        //         $("#"+selector+" #less").html("Less");
        //     }else{
        //         $("#"+selector+" .mylists").hide();
        //         $("#"+selector+" .mylists:lt("+x+")").show();
        //         $("#"+selector+" #less").html("");
        //         $("#"+selector+" #more").html("More");
        //     }
        // })
    }
    </script>
{% endblock javascript %}