{% extends "base.html" %}

{% load staticfiles %}

{% block styles %}

	<link rel="stylesheet" href="{% static 'css/pages/qualification-page.css' %}">

{% endblock %}

{% block nav_qualification %}active b-b{% endblock %}

{% block primary_container %}
<section class="search_section" id="search">
    <ol class="breadcrumb breadcrumb-arrow rounded-0">
		<div class="container">
			<li><a class="rounded-0" href="{% url 'qualification_course' object.category.slug %}"><h3>{{ object.category.name }}</h3></a></li>
			<li class="active"><span><h3>{{ object.name }}</h3></span></li>
		</div>
	</ol>
</section>

<section class="details">
	<div class="container">
		<div class="col-md-8" style="padding-left: 0px !important">
			<div class="panel">
				<div class="panel-body">
					{% if object.description %}
						<h3>Course Description</h3><hr>
						<p>{{ object.description|safe}}</p>
					{% endif %}
					
					{% if object.job_roles %}
						<h3>Potential Job Roles</h3><hr>
						{{ object.job_roles|safe }}
					{% endif %}	

					{% if object.pathways %}
						<h3>Study Pathways</h3><hr>
						{{ object.pathways|safe }}
					{% endif %}
					{% if object.fees %}
						<h3>Course Fees and payment Option</h3><hr>
						{{ object.fees|safe }}
					{% endif %}
					
					{% if object.packaging_rule %}
						<h3>Qualification Packaging Rules</h3><hr>
						{{ object.packaging_rule|safe }}
					{% endif %}
					
					{% if object.how_it_works %}
						<h3>How it Works?</h3><hr>
						{{ object.how_it_works|safe }}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group" style="margin: 20px 0;">
				<div class="input-group">
                    <input type="text" placeholder="Search Qualifications" class="form-control input-lg" id="search">
					<div class="input-group-addon addon-lg"><i class="fa fa-search"></i></div>
				</div>
            </div>
		
			<h3>Browse</h3><hr>
			<ul class="list-unstyled">
				{% for obj in qualification_category %}
					<li class="p-v">
						<a href="{% url 'qualification_course' obj.slug %}">{{ obj.name }}</a>
					</li>
				{% endfor %}
				{% comment %}
				<li class="p-v">Retail Service</li>
				<li class="p-v">Travel, Tourism and Hospitality</li>
				<li class="p-v">Childcare and Community Services</li>
				<li class="p-v">Training and Education Training</li>
				<li class="p-v">Creative Arts and Culture Training</li>
				{% endcomment %}
			</ul>
		</div>
	</div>
</section>

{% endblock %}