{% extends "__qualification_page.html" %}

{% block qualification_courses %}

{% for obj in object.qualification_set.all %}
	<div class="panel">
		<div class="panel-heading">
			<h3 class="title">{{ obj.name }}</h3>
		</div>
		<div class="panel-body">
			<p>
				<strong>Duration</strong> : {{ obj.duration|default:"Not Provided" }}
				<strong>Study Mode</strong> : {{ obj.study_mode|default:"Not Provided" }}
			</p>
			{{ obj.description|truncatechars:200|safe }}
		</div>
		<div class="panel-footer">
			<a href="{% url 'qualification_detail_page' obj.id %}" class="btn btn-info btn-outline text-black">VIEW COURSE INFORMATION</a>
		</div>
	</div>
{% empty %}
	<div class="alert alert-warning">
		Oops. Looks like we missed something here. wait till we fix this.
	</div>
{% endfor %}
{% endblock qualification_courses %}


{% block javascript %}
	<script>
		$(".list-group #"+{{object.id}}+"").addClass('li-active');
	</script>
{% endblock javascript %}