{% extends "base.html" %}

{% load crispy_forms_tags staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static "css/bootstrap-switch.css" %}">
{% endblock styles %}

{% block nav_rpl_skill_recognition %}b-b active{% endblock %}

{% block primary_container %}

<style>
    .bootstrap-switch { height: 1.7em }

	input {
		width: 100% !important;
	}
</style>

<div class="container">
	
	<div class="mt-3">
		<div class="text-center b-b">
			<h3>Free Skill Assessment</h3>
		</div>

		<form action="{% url 'skill_asessment' %}" method="POST" novalidate class="no-margin">{% csrf_token %}
            <div class="col-md-9 offset-md-2 p-v-lg">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.phone|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>

                        <div class="col-md-6">
                            {{ form.confirm_email|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="control-label">Qualification you're looking for</label>
                        </div>
                        <div class="col-md-6">
                            {{ form.qualification|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <div class="row">
                        <div class="col-md-8">
                            {{ form.qualification_other|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="control-label">What are your skills?</label>
                        </div>
                        <div class="col-md-6">
                            {{ form.skills|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.experience_year|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.experience_month|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="control-label">Where did you study that?</label>
                        </div>
                        <div class="col-md-6">
                            {{ form.experience_location|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7">
                            <label for="" class="control-label">Do you have any formal qualifications</label>
                        </div>
                        <div class="col-md-5">
                            <div class="float-xs-right">
                                {{ form.formal_qualification|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <div class="row">
                        <div class="col-md-9">
                            {{ form.formal_details|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7">
                            <label for="" class="control-label">Where you from?</label>
                        </div>
                        <div class="col-md-5">
                            {{ form.state|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.comments|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center b-t p-v-lg">
                <button class="btn btn-outline-primary" type="submit" style="border-radius: 0px !important;">Submit</button>
                <button class="btn btn-outline-secondary" type="cancel" style="border-radius: 0px !important;">Cancel</button>
            </div>
        </form>
	</div>
</div>
{% endblock primary_container %}
{% block javascript %}
<script src="{% static "js/bootstrap-switch.js" %}"></script>
<script>
    $.fn.bootstrapSwitch.defaults.size = 'mini';
    $("[type='checkbox']").bootstrapSwitch();
</script>
</script>
{{ form.media }}
    
{% endblock javascript %}