.selectize-control {
    padding: 0 !important;
}
.selectize-input.full {
    padding: 12px !important;
    text-align: left !important;
}

.selectize-input {
    border-radius: 0px !important;
}

.selectize-input input {
    width: 100% !important;
    border: 0px !important;
    height: 32px;
    /*padding: 10px 10px !important;*/
}

.selectize-dropdown {
    height: auto;
    border-top-right-radius: 0px !important;
    text-align: left;
    z-index: 501;
}

.selectize-dropdown-content option {
    padding: 5px 0 !important;
}

@media screen and (min-width: 1300px){
    .my-search-form {
        margin-top: 40px;
    }
}