<div class="modal-header"> 
  		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>{{ object.code }}-{{ object.name }}</h4>
</div> 
<div class="modal-body">
	<div class="col-md-12 b-b">
		<strong>Course description</strong>
		<span class="float-xs-right"><a href=""><i class="fa fa-pencil fa-fw"></i></a></span>
	</div>
	<div class="col-md-12">
		<p>This qualification reflects the role of the individuals who possess a sound theoretical knowledge base and use a range of specialised, technical or managerial competencies </p>
	</div>
	<div class="col-md-12 b-b">
		<strong>Potential Job Roles</strong>
		<span class="float-xs-right"><a href=""><i class="fa fa-pencil fa-fw"></i></a></span>
	</div>
	<div class="col-md-12">
		- Administration Manager <br>
		- General Office Manager <br>
		- Office Manager
	</div>
	<div class="col-md-12 b-b">
		<strong>Course Fees and Payment options</strong>
		<span class="float-xs-right"><a href=""><i class="fa fa-pencil fa-fw"></i></a></span>
	</div>
	<div class="col-md-12">
		<p>$28,000 AU (Includes Tuition Fees plus any additional compulsory costs) <br> Please note Adelaide College of Technology reserves the right tovary Tuition Fees and/or Material Fees without prior notice. Please contact the College prior to enrolling to confirm the current cost and fee structure.</p>
	</div>
	<div class="col-md-12 b-b">
		<strong>Qualification Packaging Rules</strong>
		<span class="float-xs-right"><a href=""><i class="fa fa-pencil fa-fw"></i></a></span>
	</div>
	<div class="col-md-12">
		<p>
			- 8 Total Units  
			- No Core Unit 
			- 8 Elective Units 
			- Elective  units  guided  by  core  function  or  role  of  the  current  or intended work environment, local industry requirements and the characteristics of the AQF level of this qualifications.
		</p>
	</div>
	<div class="clearfix"></div>
	<div class="modal-footer p"></div>

</div>