{% extends "dashboard.html" %}
{% load staticfiles bootstrap3 %}

{% block stylesheet %}
	{# upgrade bootstrap switch #}
	<link href="/static/redactor/css/redactor.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/static/redactor/css/django_admin.css" type="text/css" media="all" rel="stylesheet" />

{% endblock %}

{% block dashboard_header %}
	<a href="{% url 'cpanel_dashboard' %}" class="">DASHBOARD</a>
{% endblock dashboard_header %}

{% block testimonials_header %}
	<div class="col-md-5"><a href="" class="float-xs-right">
		<h3>TESTIMONIALS</h3><hr>
	</a></div>
{% endblock testimonials_header %}

{% block container %}
	<div class="col-md-8 offset-md-2">
		<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
			{% bootstrap_form form %}
			<div class="col-md-12 offset-md-5">
            	<button class="btn btn-outline-primary " type="submit" style="border-radius: 0px !important;">SAVE</button>
            </div>
		</form>
	</div>
{% endblock container %}

{% block javascript %}
	<script type="text/javascript" src="/static/redactor/jquery.redactor.init.js"></script>
    <script type="text/javascript" src="/static/redactor/redactor.js"></script>
    <script type="text/javascript" src="/static/redactor/langs/en.js"></script>
{% endblock %}